{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="form-grid">
        <div class="form-group">
            {{ form_label(form.dateDecision) }}
            {{ form_widget(form.dateDecision) }}
            {% if form.dateDecision.vars.errors|length > 0 %}
                {{ form_errors(form.dateDecision) }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form_label(form.decisionFinale) }}
            {{ form_widget(form.decisionFinale) }}
            {% if form.decisionFinale.vars.errors|length > 0 %}
                {{ form_errors(form.decisionFinale) }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form_label(form.idEntretien) }}
            {{ form_widget(form.idEntretien) }}
            {% if form.idEntretien.vars.errors|length > 0 %}
                {{ form_errors(form.idEntretien) }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form_label(form.idUtilisateur) }}
            {{ form_widget(form.idUtilisateur) }}
            {% if form.idUtilisateur.vars.errors|length > 0 %}
                {{ form_errors(form.idUtilisateur) }}
            {% endif %}
        </div>
    </div>

    <div class="form-actions">
        {{ form_widget(form.save, {'attr': {'class': 'btn-save'}}) }}
        <a href="{{ path('recrutement_index') }}" class="btn-delete">Annuler</a>
    </div>
    {{ form_end(form) }}
