{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <div class="form-grid">
        <div class="form-group">
            {{ form_label(form.typeContrat) }}
            {{ form_widget(form.typeContrat) }}
            {% if form.typeContrat.vars.errors|length > 0 %}
                {{ form_errors(form.typeContrat) }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form_label(form.dateDebut) }}
            {{ form_widget(form.dateDebut) }}
            {% if form.dateDebut.vars.errors|length > 0 %}
                {{ form_errors(form.dateDebut) }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form_label(form.dateFin) }}
            {{ form_widget(form.dateFin) }}
            {% if form.dateFin.vars.errors|length > 0 %}
                {{ form_errors(form.dateFin) }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form_label(form.salaire) }}
            {{ form_widget(form.salaire) }}
            {% if form.salaire.vars.errors|length > 0 %}
                {{ form_errors(form.salaire) }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form_label(form.volumeHoraire) }}
            {{ form_widget(form.volumeHoraire) }}
            {% if form.volumeHoraire.vars.errors|length > 0 %}
                {{ form_errors(form.volumeHoraire) }}
            {% endif %}
        </div>

        <div class="form-group full-width">
            {{ form_label(form.avantages) }}
            {{ form_widget(form.avantages) }}
            {% if form.avantages.vars.errors|length > 0 %}
                {{ form_errors(form.avantages) }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form_label(form.idRecrutement) }}
            {{ form_widget(form.idRecrutement) }}
            {% if form.idRecrutement.vars.errors|length > 0 %}
                {{ form_errors(form.idRecrutement) }}
            {% endif %}
        </div>
    </div>

    <div class="form-actions">
        {{ form_widget(form.save) }}
        <a href="{{ path('contrat_embauche_index') }}" class="btn-delete">Annuler</a>
    </div>
    {{ form_end(form) }}
</form>
